@media (min-width: 740px) and (max-width: 1023px) {
 tablet
}

@media (max-width: 739px) {
    /*ĐĂNG NHẬP*/
    #login{
        width: 80%;
        margin-left: 40px;
        margin-top: 200px;
    }

    /*ĐĂNG KÝ*/
    #register{
        width: 80%;
        margin-left: 40px;
        margin-top: 50px;
    }

    /*INDEX*/
    #header nav li a{
        float: right;
        font-size: 13px;
    }
    #header .navbar-form{
        width: 90%;
        margin-left: 30px;
    }
    #header .navbar-brand{
        margin-left: 40%;
    }
    #header .navbar-right{
        padding-right: 10px;
    }
    #row .leftcolumn .card{
        width: auto;
        float: left;
        margin: 470px 0px 0px 0px;
        position: absolute;
    }
    #row .leftcolumn img{
        display: none;
    }
    .leftcolumn .card .title-post{
        position: relative;
        margin-bottom: 20px;
    }
    .leftcolumn .card .hr_details{
        margin-bottom: 70px;
    }
    #row button{
        text-align: center;
        margin: 10px 0px 0px 0px;
    }
    #row .rightcolumn{
        width: 100%;
        margin-top: 100px;
        overflow: auto;
        height: 350px;
    }
    #row .title-post{
        /*font-size: 30px;*/
        margin-top: 10px;
    }

    /*Detail*/
    #row_detail{
        margin-top: 100px;
        float: left;
        /*background-color: #0f0f0f;*/
        padding: 0px;
    }
    #comeback{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    #row_detail .col-xs-11{
        margin-left: 0px;
        padding: 0px;
    }
    #row_detail .container{
        padding: 0px;
        float: left;
    }
    #row_detail .img{
        width: 300px;
        height: 200px;
    }

    /*Edit_posst*/
    #container .panel-heading button{
        height: 30px; font-size: 15px;
        padding-bottom: 30px;
        margin:     0px;
    }
    #container{
        margin-top: 130px;
    }
    #container option{
        font-size: 12px;
    }

    /*Myblog*/
    #row_myblog .myblog{
        width: 300px;
        position: relative;
        margin-top: 100px;
        margin-left: 0px;
    }
    #row_myblog .card{
        width: 90%;
        margin-left: 20px;
    }
    #row_myblog .leftcolumn{
        margin-left: 0px;
        width: 100%;
    }
    #row_myblog img{
        display: none;
    }
    #row_myblog table td{
        width: auto;
    }
    #row_myblog button{
        margin-left: 0px;
    }

    /*Post_user*/
    #row_puser{
        width: 360px;
        position: relative;
        margin-top: 100px;
        margin-left: 5px;
    }
    #row_puser .card{
        width: 90%;
        margin: 0px 0px 0px 20px;
    }
    #row_puser .leftcolumn{
        margin-left: 0px;
        width: 100%;
    }
    #row_puser img{
        display: none;
    }
    #row_puser button{
        margin-left: 0px;
    }
    #row_puser .pagination{
        font-size:10px;

    }
}
